<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image: url("https://k39.kn3.net/taringa/3/3/8/1/3/7//aadamm/F6F.jpg?5702");
            background-size:cover;

        }
        .col-center-block {
            font-size: larger;
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
        }
        .white{
            color: white;
        }
        td{
            font-size: 150%;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row myCenter">
        <div class="col-xs-6 col-md-8 col-center-block">
            <table class = "white table">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <%result.forEach(function(e){%>
                <tr>
                    <td ><%=e.uid%></td>
                    <td>
                        <form name="follow" method="get" action="/follow/<%=e.uid%>">
                        <td><button class="btn btn-md btn-primary btn-block">Follow</button></td>
                        <input name="uid" type="hidden" value="<%=uid%>">
                    </form>
                    </td>
                </tr>
                <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>